<IfModule mod_headers.c>
  Header set Content-Security-Policy "default-src 'none'; script-src 'self' https://trusted.cdn.com; style-src 'self'; img-src 'self'; font-src 'self'; connect-src 'self'; media-src 'self'; object-src 'none'; base-uri 'self'; frame-ancestors 'none'; form-action 'self';"
  Header always append X-Frame-Options SAMEORIGIN
  Header set X-Content-Type-Options "nosniff"
  Header unset Server
</IfModule>

Options -Indexes
